[Unit]
Description=Telegram Group Intelligence Bot
After=network.target

[Service]
Type=simple
User=andre
WorkingDirectory=/andre/Bot-Tele
ExecStart=/root/Bot-Tele/venv/bin/python runner.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tele-bot

[Install]
WantedBy=multi-user.target
